SUNSHIFT_DEBUG=true
SUNSHIFT_OPENWEATHERMAP_API_KEY=your_key_here
SUNSHIFT_EIA_API_KEY=your_key_here
SUNSHIFT_ANTHROPIC_API_KEY=your_key_here
SUNSHIFT_GEMINI_API_KEY=AIzaSyBI2DKW_9CASQcN9fzb94EmYLH7urFtMrk
SUNSHIFT_AWS_REGION=us-east-2
